/* styles.css */
body, h1, h2, h3, p, nav {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%; /* Adjust the padding or use a fixed width container to control the space */
}

header h1 {
    font-size: 40px;
}

.logo-container {
    text-align: left;
}

main {
    text-align: left;
    padding: 50px 12%; /* Adjust padding to push content slightly to the left */
}

main a {
    display: inline-block; 
    font-size: 92px; /* Adjust font size as needed */
    font-weight: bold; 
    text-decoration: none; 
    color: #ccc; /* A light grey color */
    transition: color 0.3s, transform 0.2s ease; /* Smooth transition for color change */
    margin: 20px 10px; /* Add margin to create space around the links */
}

main a:hover {
    color: var(--hover-text-color);
    cursor: pointer; 
    transform: translateY(-2px);
}


/* Define your color scheme using CSS variables */
#theme-toggle {
    padding: 5% 10%;
    font-size: 16px;
    font-weight: bold; 
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#theme-toggle:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}


:root {
    --background-color: #FAFAFA; /* Light background */
    --text-color: #343A40; /* Dark text */
    --nav-color: #354F52; /* Navigation color */
    --hover-text-color: #8a8a8a; /* Lighter text on hover */
    --button-bg: #6a7e80;
    --button-text: #FAFAFA;
    --button-hover-bg: #29546A;
}

/* Dark theme variables */
.dark-mode {
    --background-color: #000000; /* Dark background */
    --text-color: #FAFAFA; /* Light text */
    --link-color: #FAFAFA;
    --heading-color: #FAFAFA;
    --nav-color: #9d9d9d; /* Darker navigation color */
    --hover-text-color: #efefef; /* Darker text on hover */
    --button-bg: #000000;
    --button-hover-bg:  #29546A;
}

/* Use the variables for your elements */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-container a {
    color: var(--nav-color);
}

.nav-container a:hover {
    color: var(--hover-text-color);
}

/* ... other styles */

/* Add to your existing styles.css */

#web-development-section {
    padding: 20px;
    /* Any additional styling for this section */
}

#web-development-section h2{
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 52px;
    color: var(--header-text);
}

.web-dev-content {
    display: flex;
    justify-content: space-around; /* This will space out the items evenly */
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
}

.web-dev-item {
    flex-basis: 30%; /* Adjust the width of each item */
    margin: 10px;
    text-align: center; /* Center the text under each image */
}

.web-dev-item img {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and title */
}

.web-dev-item h3 {
    margin: 10px 0; /* Adjust spacing as needed */
}

.web-dev-item p {
    margin-bottom: 10%; 
}

#ux-ui-section {
    padding: 20px;
    /* Any additional styling for this section */
}

#ux-ui-section h2{
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 52px;
    color: var(--header-text);
}
.ux-ui-item {
    flex-basis: 30%; /* Adjust the width of each item */
    margin: 10px;
    text-align: center; /* Center the text under each image */
}

.ux-ui-item p {
    max-width: 100%;
}

.ux-ui-item img {
    width: 50%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and title */
}

html {
    scroll-behavior: smooth;
}

#education-section {
    padding: 10px;
    /* Any additional styling for this section */
}

#education-section h2{
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 52px;
    color: var(--header-text);
}

.education-content {
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */ 
    margin-left: 10%; 
    text-align: left; 
}

.education-content h3 {
    font-size: 26px; 
}

.education-content p {
    font-size: 20px;
    margin-bottom: 3%; 
}
#work-section {
    padding: 10px;
    /* Any additional styling for this section */
}

#work-section h2{
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 52px;
    color: var(--header-text);
}
.work-content {
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */ 
    margin-left: 10%; 
    text-align: left; 
}

.work-content h3 {
    font-size: 26px; 
}

.work-content p {
    font-size: 20px; 
}
.work-content li {
    font-size: 20px; 
    margin-bottom: 0.5%; 
}
#about-section {
    padding: 20px;
    text-align: left;
}

#about-section h2 {
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 52px;
    color: var(--header-text);
}

.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: non-wrap;
    gap: 10%; /* Adjust the gap between photos */
}

.photo-item {
    text-align: center;
}
.photo-item img {
    max-width: 100%; /* Ensures images are responsive */
    width: 250px; 
    height: 250px; /* Maintain aspect ratio */
    border-radius: 50%; 
    object-fit: cover;
    overflow: hiddnen; 
}

.photo-item p {
    margin-top: 5%; 
    font-weight: bold; 
    font-size: 18px;
}

.about-content {
    flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */ 
    margin-left: 10%; 
    text-align: left; 
}

.about-content h3 {
    font-size: 36px;
    margin-top: 5%;  
}

.about-content h4 {
    font-size: 24px; 
}

.about-content p {
    font-size: 28px;
}

.about-content li {
    font-size: 22px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--footer-bg-color, #29546A); /* Fallback color */
    color: var(--footer-text-color, #FAFAFA); /* Fallback color */
}

.footer-content {
    display: inline-block;
    /* Add more styling as needed */
}

footer a {
    color: inherit; /* Inherits color from the footer */
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--link-hover-color, #D0D3D4); /* Fallback color */
}

footer a i {
    margin-right: 5px; /* Adds a small space between the icon and the text */
}

#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 30px; /* 30px from the right */
    z-index: 99; /* Sit on top */
    border: none; /* No border */
    outline: none; /* No outline */
    background-color: var(--button-bg);
    color: white; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 15px; /* Padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Text size */
    transition: 0.3s ease;
}

#back-to-top:hover {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}

#back-to-top i { 
    font-size: 20px;
}

/* Add this at the end of your existing styles.css */

@media only screen and (max-width: 375px) {
    header { 
        flex-direction: row;
        justify-content: flex-start; 
        padding: 10px; 
    }

    header h1 {
        font-size: 18px; /* Smaller font size for the header */
        margin: 1em; 
    }

    #theme-toggle {
        padding: 10px;
        font-size: 12px; 
        margin: 1em;
    }

    main {
        padding: 20px 2%; /* Smaller padding for the main content */
    }

    main a {
        font-size: 38px; /* Smaller font size for main links */
        margin: 5px 5px; /* Adjust margin for main links */
    }


    #web-development-section h2, #ux-ui-section h2, #education-section h2, #work-section h2, #about-section h2 {
        text-align: left; /* Align the h2 text to the left */
        margin-left: 4%;
        font-size: 34px; /* You can adjust this size as needed */
    }  

    .web-dev-item, .ux-ui-item, .education-content, .work-content, .about-content {
        flex-basis: 100%; /* Full width for flex items */ 
    }

    .web-dev-item p, .ux-ui-item p {
        font-size: 14px;
    }

    .education-content h3, .work-content h3 {
        font-size: 20px;
    }

 .work-content p {
        font-size: 18px;
    }

    .education-content p {
        font-size: 16px;
    }

    .education-content li, .work-content li {
        font-size: 16px;
    }

    .photo-grid {
        gap: 5%; /* Smaller gap between photos */
    }

    .photo-item img {
        width: 50px; /* Smaller size for images */
        height: 50px;
    }

    .photo-item p, .about-content h3, .about-content h4, .about-content p, .about-content li {
        font-size: 16px; /* Smaller font size for text under photos */
    }

    #back-to-top {
        right: 10px; /* Adjust the position of the back-to-top button */
        bottom: 10px;
    }

    footer a {
        font-size: 13px; /* Smaller font size for footer links */
    }

    /* Additional responsive adjustments as needed */
}
